* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(36, 38, 38);
    --secondary-color: rgb(230, 33, 72);
    --third-color: rgb(255, 0, 51);
}

body {
    background-color: var(--main-color);
    font-family: 'Noto Serif', serif;
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    height: 90px;
    background-color: rgb(36, 38, 38);
}

.header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header img {
    width: 150px;
    height: 100px;
}

.header ul {
    display: flex;
    align-items: center;
}


.header ul li {
    list-style: none;
    margin: 0 30px;
}

.header ul li a {
    text-decoration: none;
    /* color: rgb(255, 0, 51); */
    color: var(--third-color);
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
    background-color:var(--main-color);
    border-radius: 20px;
    transition: 1s;
}

.header ul li a:hover {
    background-color:var(--secondary-color);
    color: var(--main-color);
}


.services {
    text-align: center;
}

h1{
    color: var(--third-color);
    margin-top: 50px;
    position: relative;
    
}

h1:before {
    content:"";
    width: 300px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: var(--third-color);
    
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .service {
    margin: 40px 0;
    /* border: 1px solid var(--secondary-color); */
    padding: 30px 20px;
    background-color: rgb(34, 33, 33);
    box-shadow: 2px 2px 3px rgb(84, 81, 81);
    translate: 8s;
    border-radius: 6px;
}

.services .service h3 {
    /* color:rgb(230, 33, 72) */
    color: var(--third-color);
}

.services .service p {
    color: beige;
    font-size: 15px;
}

.services .service:hover {
    transform: translate(10px, 10px);
    box-shadow: 5px 5px 8px rgb(84, 81, 81);
}