*{
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(36, 38, 38);
    --secondary-color: rgb(255, 0, 51);
}


body{
    background-color: var(--main-color);
    
}


.form-container {
    width: 500px;
    margin: auto auto;
    text-align: center;
    max-width: 95%;
    height: 100vh;
    background-color:rgb(48, 51, 51);
}


.input-field {
    margin: 20px 0;
    
}

.input-field input {
    padding: 8px 20px;
    background-color:rgb(238, 117, 117);
    color: beige;
    font-size: larger;
    border-radius: 20px;
    width: 80%;
    border: none;
}

.input-field button {
    padding: 8px 20px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-size: larger;
    border-radius: 20px;
    width: 80%;
    border: none;
    margin: 20px auto;
}

.input-field button a {
    text-decoration: none;
    color: var(--main-color);
}

.form-bottom-tagline {
    margin: 30px auto;
    color: beige;
}

.form-bottom-tagline a {
    color: var(--secondary-color);
}



